@{
	ViewBag.Title = "Index";
}

<div>
	@using (Ajax.BeginForm("BookSearch", new AjaxOptions
	{
		UpdateTargetId = "results",
		Confirm = "Выполнить AJAX-запрос?"
	}))
	{
		<input type="text" name="name" />
		<input type="submit" value="Поиск" />
	}	
	<div id="results"></div>
</div>
@section Scripts
{
	@Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
}