@{
	ViewBag.Title = "Index";
}

<div>
	@using (Ajax.BeginForm("BookSearch", new AjaxOptions
	{
		UpdateTargetId = "results",
		LoadingElementId = "loading",
		LoadingElementDuration = 3000
	}))
	{
		<input type="text" name="name" />
		<input type="submit" value="Поиск" />
	}	
	<img id="loading" src="@Url.Content("~/Content/Images/loader.gif")" style="display:none" />
	<div id="results"></div>
</div>
@section Scripts
{
	@Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
}