@{
	ViewBag.Title = "Index";
}

<div>
	@using (Ajax.BeginForm("BookSearch", new AjaxOptions { UpdateTargetId = "results" }))
	{
		<input type="text" name="name" />
		<input type="submit" value="Поиск" />
	}
	<div id="results"></div>
</div>
<br />
<div id="bestbook">
	@Ajax.ActionLink("Лучшая книга", "BestBook", new AjaxOptions { UpdateTargetId = "bestbook" })
</div>

@section Scripts
{
	@Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
}