@model IEnumerable<string>

@{
	ViewBag.Title = "Index";
}

<div>
	@using (Ajax.BeginForm("BookSearch", new AjaxOptions { UpdateTargetId = "results" }))
	{
		<input type="text" name="name" />
		<input type="submit" value="Поиск" />
	}
	<div id="results"></div>
</div>
<br />
@foreach (string author in Model)
{
	<div style="margin-right:8px;float:left;">
		@Ajax.ActionLink(author, "BookSearch", new { name = author }, new AjaxOptions { UpdateTargetId = "results" })
	</div>
}

@section Scripts
{
	@Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
}